@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* suppression du background hérité des variables CSS */
  background: none !important;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

#stars-bg {
  width: 100vw;
  height: 100vh;
  background: transparent;
  pointer-events: none;
  position: fixed;
  inset: 0;
  z-index: 0;
}
#stars-bg:before, #stars-bg:after {
  content: none;
}
